
.vs/iTransferencia/v17/TestStore/0/testlog.manifest
.vs/iTransferencia/DesignTimeBuild/.dtbcache.v2
.vs/iTransferencia/FileContentIndex/0a00d185-98ec-448f-ab7c-eba3c66b646d.vsidx
.vs/iTransferencia/FileContentIndex/6ebf7952-594c-40dc-abbf-98d4986f1d1c.vsidx
.vs/iTransferencia/v17/TestStore/0/000.testlog
